<div class="container-fluid bg-light">
  <div class="container">

    <h1 class="py-4">My Account</h1>

    <%= link_to "ここ", edit_user_registration_path %>

    <% if current_user && !current_user.first_name %>
    <div class="row">
      <div class="alert alert-danger w-100" role="alert">
        <strong>
        Complete your profile from
        <%= link_to "here", edit_user_registration_path %>
        !
        </strong>
      </div>
    </div>
    <% end %>


    <div class="row">

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td><%= @current_user.first_name ? @current_user.first_name : "not regisgtered yet" %></td>
          </tr>
          <tr>
            <th scope="row">e-mail</th>
            <td><%= @current_user.email %></td>
          </tr>
          <tr>
            <th scope="row">tel</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">address</th>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
