<div class="container-fluid bg-light">
  <div class="container">

    <h1 class="py-4">My Account</h1>

    <div class="row">

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td><%= @current_user.email %></td>
          </tr>
          <tr>
            <th scope="row">e-mail</th>
            <td><%= @current_user.email %></td>
          </tr>
          <tr>
            <th scope="row">tel</th>
            <td>Jacob</td>
          </tr>
          <tr>
            <th scope="row">address</th>
            <td>Larry</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
