
<div class="container">
  <footer class="text-center text-secondary my-5 bold">
    &copy; <%= Date.today.year %>
    <%= link_to "HeyWorld Inc.", corporation_path %>
    &nbsp;|&nbsp;
    follow us on 
    <%= link_to "https://twitter.com/NoteCrime" do %>
    <i class="fab fa-twitter fa-x"></i>
    <% end %>
  </footer>
</div>
