.sidebar {
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, .1);/* 線 */
  // position: fixed;/* sidebar部分のみ固定される */
  .nav-item {
    margin-top: 0.8rem;
  }
}

.sidebar-sticky {
  height: 100vh;
  overflow-y: auto; /* 縦Scrolln */
  .hover-dark li a:hover{
    background-color: black !important;
  }
}
