// Slickerではなく自力
.gallery-seller {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #ededed;
  border-radius: 5px;
  line-height: 0;
  .main-image {
    text-align: center;
  }
  .main-image > img {
    max-height: 15rem;
    max-width: 100%;
  }
}

.thumbnails-seller {
  margin: 10px 0 0 0;
  img {
    width: auto;
    // height: 100%;
    max-height: 5rem;
    margin: auto;
    padding: 0;
  }
  li {
    float: left;
    list-style: none;
    margin: 0 2px 0 0;
    border: 2px solid #ededed;
  }
  li.selected {
    border: 2px solid #8ac2d0;
  }
}


// 以下Slicker
#slider,#thumbnail_slider{
  width: 300px;
  margin: 0 auto 10px;
}

.slide-item{
  img{
    width: auto;
    height: 100%;
    max-height: 15rem;
    margin: auto;
  }
}

.thumbnail-item{
  img{
    width: 98%;
    margin: 0 auto;
  }
}

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
