<div class="container-fluid">
  <div class="row">

    <nav class="col-2 bg-light sidebar">
      <%= render 'sellers/shared/sidebar' %>
    </nav>

    <main class="col-10">

      <h1 class="text-secondary my-4">入札を開始する</h1>


      <div class="mt-3">
        <%= form_for @tender, url: :sellers_tenders do |f| %>

        <%= render 'fields', f: f %>


        <div class="alert alert-warning mt-5" role="alert">
          <div class="form-group mb-0" >
            <%= f.submit "入札を開始する", class: 'btn btn-success' %>
            &nbsp;&nbsp;<i class="fas fa-exclamation-triangle"></i>
            次の画面で入札に出す商品を登録してください。
          </div>
        </div>

        <% end %>
      </div>

    </main>

  </div>
</div>
